.DS_Store
*.tmp
src/ontology/mirror
src/ontology/mirror/*
src/ontology/wbphenotype.obo
src/ontology/wbphenotype.owl
src/ontology/wbphenotype.json
src/ontology/wbphenotype-base.*
src/ontology/wbphenotype-full.*
src/ontology/wbphenotype-simple.*
src/ontology/wbphenotype-simple-non-classified.*
semantic.cache
bin/
src/ontology/seed.txt
src/ontology/target/
src/ontology/dosdp-tools.log
src/patterns/imports/seed_sorted.txt
src/ontology/ed_definitions_merged.owl
src/ontology/patterns
/catalog-v001.xml
src/ontology/terms-all-def.txt
src/ontology/wbphenotype-merged.owl
src/patterns/data/manual/*.ofn
src/patterns/data/manual/*.txt
src/update_repo/target
src/ontology/tmp
src/ontology/merged-wbphenotype-edit.owl
src/ontology/patternised_classes.txt
src/patterns/pattern_owl_seed.txt
src/ontology/simple_seed.txt
src/patterns/all_pattern_terms.txt
src/ontology/ontologyterms.txt
src/ontology/imports/bfo_terms_combined.txt
src/ontology/imports/chebi_terms_combined.txt
src/ontology/imports/go_terms_combined.txt
src/ontology/imports/iao_terms_combined.txt
src/ontology/imports/pato_terms_combined.txt
src/ontology/imports/ro_terms_combined.txt
src/ontology/imports/wbbt_terms_combined.txt
src/ontology/imports/wbls_terms_combined.txt
