.DS_Store
*.tmp
src/ontology/mirror
src/ontology/mirror/*
src/ontology/wbphenotype.obo
src/ontology/wbphenotype.owl
src/ontology/wbphenotype.json
src/ontology/wbphenotype-base.*
src/ontology/wbphenotype-full.*
src/ontology/wbphenotype-simple.*
src/ontology/wbphenotype-simple-non-classified.*
semantic.cache
bin/
src/ontology/seed.txt
src/ontology/target/
src/ontology/dosdp-tools.log
src/patterns/imports/seed_sorted.txt
src/ontology/ed_definitions_merged.owl
src/ontology/patterns
/catalog-v001.xml
src/ontology/terms-all-def.txt
src/ontology/wbphenotype-merged.owl
src/patterns/data/manual/*.ofn
src/patterns/data/manual/*.txt
src/update_repo/target
src/ontology/tmp
